.container {
    width: 1280px;
    background-color: #F3F6F8;
    margin: 0 auto;
    padding-bottom: 100px;
}

.navbar {
    width: 100%;
    min-width: 1280px;
    height: 98px;
    background-color: #fff;
    border-bottom: 1px solid #E3E3E3;
    position: fixed;
    z-index: 8;
    text-align: right;
    top: 0;
    left: 0;
}

.navbar .navbar-mobile-nav {
    display: none;
}

.navbar .navbar-logo {
    width: 154px;
    height: 43px;
    background-image: url('../img/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 31px;
    left: 28px;
}

.navbar-link {
    height: 100%;
    display: inline-block;
    margin-right: 114px;
}

.navbar-link .link-item {
    margin-top: 30px;
    display: inline-block;
}

.navbar-link .link-item+.link-item {
    margin-left: 54px;
}

.navbar-link .link-item .icon {
    width: 38px;
    height: 38px;
    display: inline-block;
}

.navbar-link .link-item .icon.icon-ins {
    background-image: url('../img/icon-ins.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar-link .link-item .icon.icon-facebook {
    width: 36px;
    height: 36px;
    background-image: url('../img/facebook.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar-link .link-item .icon.icon-twitter {
    background-image: url('../img/twitter.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar-link .link-item .icon.icon-tme {
    background-image: url('../img/tme.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar-link .link-item .icon.icon-reddit {
    background-image: url('../img/reddit.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar-link .link-item .icon.icon-link {
    background-image: url('../img/link.png');
    background-size: 100%;
    background-repeat: no-repeat;
}






/* added by xsm */

.link-item button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.navbar .navbar-user {
    height: 100%;
    display: inline-block;
    padding-right: 55px;
    vertical-align: top;
    position: relative;
    cursor: pointer;
}

.navbar .navbar-user .user-float {
    background-color: #fff;
    width: 176px;
    text-align: left;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 96px;
    right: 33px;
    display: none;
}

.navbar .navbar-user .user-float p {
    color: #121F3E;
    font-size: 14px;
    padding: 18px 0;
    margin: 0 16px;
    cursor: pointer;
    line-height: 20px;
}

.navbar .navbar-user .user-float .icon-change:before {
    content: '';
    width: 18px;
    height: 20px;
    background-image: url('../img/icon-h.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.navbar .navbar-user .user-float .icon-bind:before {
    content: '';
    width: 21px;
    height: 15px;
    background-image: url('../img/icon-i.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.navbar .navbar-user .user-float .icon-logout:before {
    content: '';
    width: 21px;
    height: 15px;
    background-image: url('../img/logout.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.navbar .navbar-user .user-float p+p {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar .navbar-user .name {
    font-size: 16px;
    color: #121F3E;
    display: inline-block;
    height: 98px;
    line-height: 98px;
}

.navbar .navbar-user .arrow-down {
    border: 7px solid transparent;
    border-top: 7px solid #172333;
    display: inline-block;
    border-radius: 2px;
    vertical-align: middle;
    margin-left: 15px;
}

.left-sidebar {
    position: fixed;
    z-index: 7;
    width: 257px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #E3E3E3;
    top: 98px;
    padding-top: 45px;
    display: block;
    overflow-y: scroll;
}

.sidebar-section {
    font-size: 16px;
    color: #121F3E;
}

.sidebar-section.active .tl {
    background-color: #F3F6F8;
    border-left: 3px solid #5959FB;
}

.sidebar-section.disabled {
    color: #B1BFCF;
}

.sidebar-section.disabled .tl:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/icon-p.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 2px;
    margin-right: 16px;
}

.sidebar-section .tl {
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    cursor: pointer;
}

.sidebar-section .tl:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/icon-o.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 2px;
    margin-right: 16px;
}

.sidebar-section ul {
    margin-top: 15px;
}

.sidebar-section li {
    height: 22px;
    line-height: 22px;
    padding: 15px 0 15px 60px;
    cursor: pointer;
}

.sidebar-section li.active{
	color:#0E5ACE;
}

.left-sidebar.mobile {
    display: none;
}

.content {
    width: 100%;
    height: 100%;
    padding: 153px 0 0 302px;
    box-sizing: border-box;
    font-size: 0;
}

.point-container .point-item {
    width: 206px;
    height: 120px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    padding: 47px 0 12px 20px;
    box-sizing: border-box;
    vertical-align: top;
}

.point-container .point-item+.point-item {
    margin-left: 37px;
}

.point-container .point-item.bg1 {
    background-image: url('../img/icon-bg-1.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.point-container .point-item.bg1:before {
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url('../img/icon-a.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 12px;
    right: 19px;
}

.point-container .point-item.bg2 {
    background-image: url('../img/icon-bg-2.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.point-container .point-item.bg2:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 20px;
    background-image: url('../img/icon-b.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 12px;
    right: 13px;
}

.point-container .point-item.bg3 {
    background-image: url('../img/icon-bg-3.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.point-container .point-item.bg3:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/icon-c.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 12px;
    right: 16px;
}

.point-container .point-item.bg4 {
    background-image: url('../img/icon-bg-4.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.point-container .point-item.bg4:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 32px;
    background-image: url('../img/icon-d.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    right: 12px;
}

.point-container .point-item .point-txt1 {
    color: #FFFFFF;
    font-size: 28px;
    line-height: 40px;
}

.point-container .point-item.bg4 .point-txt1 {
    font-size: 18px;
}

.point-container .point-item .point-txt2 {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}

.greeting-container {
    margin-top: 50px;
    width: 929px;
    box-sizing: border-box;
}

.greeting-container .greeting-tl {
    color: #4A4A4A;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 14px;
}

.greeting-container .greeting-content {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    background-color: #4575E6;
    height: 74px;
    line-height: 74px;
    border-radius: 5px;
    cursor: pointer;
}
.greeting-container .greeting-content .icon-arrow {
    content: '';
    display: inline-block;
    width: 8px;
    height: 15px;
    background-image: url(../img/icon-arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 1px;
    margin-left: 24px;
}

.greeting-container .count {
    margin-top: 22px;
    text-align: center;
    margin-bottom: 44px;
}

.greeting-container .box {
    display: inline-block;
    background-color: #0F3F88;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    margin-right: 26px;
    position: relative;
    color: #fff;
}

.greeting-container .box:last-child {
    margin-right: 0;
}

.greeting-container .box.sel:after {
    content: ':';
    font-size: 30px;
    position: absolute;
    right: -18px;
    font-weight: 600;
    color: #0F3F88;
    top: -2px;
}

.game-container {
    margin-top: 52px;
}

.game-container .title {
    color: #4A4A4A;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 29px;
}

.game-container .title:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 20px;
    background-image: url('../img/icon-g.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
    margin-right: 10px;
    margin-left: 12px;
}

.game-container .game-item {
    width: 285px;
    height: 160px;
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 40px;
    margin-right: 38px;
    padding-top: 18px;
    padding-left: 13px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.game-container .game-item:nth-child(3n) {
    margin-right: 0;
}

.game-container .game-item .t1 {
    color: #B5B5B5;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 7px;
}

.game-container .game-item .t2 {
    color: #4A4A4A;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 19px;
}

.game-container .game-item .t3 {
    color: #B5B5B5;
    font-size: 16px;
    line-height: 22px;
    margin-right: 33px;
    padding-top: 16px;
    border-top: 1px solid #E9E9E9;
}

.game-container .game-item.item-a {
    background-image: url('../img/icon-big-a.png');
    background-size: 81px 85px;
    background-repeat: no-repeat;
    background-position: right 10px top -14px;
    border-left: 5px solid;
    border-image: -webkit-linear-gradient(right, #5959FB, #2D9AFD) 0 0 0 30;
    /* Safari 5.1 - 6.0 */
    border-image: -o-linear-gradient(right, #5959FB, #2D9AFD) 0 0 0 30;
    /* Opera 11.1 - 12.0 */
    border-image: -moz-linear-gradient(right, #5959FB, #2D9AFD) 0 0 0 30;
    /* Firefox 3.6 - 15 */
    border-image: linear-gradient(to right, #5959FB, #2D9AFD) 0 0 0 30;
    /* 鏍囧噯鐨勮娉� */
}

.game-container .game-item.item-b {
    background-image: url('../img/icon-big-b.png');
    background-size: 81px 95px;
    background-repeat: no-repeat;
    background-position: right 10px top -14px;
    border-left: 5px solid;
    border-image: -webkit-linear-gradient(#FB83CB, #FE95AD) 0 0 0 30;
    /* Safari 5.1 - 6.0 */
    border-image: -o-linear-gradient(#FB83CB, #FE95AD) 0 0 0 30;
    /* Opera 11.1 - 12.0 */
    border-image: -moz-linear-gradient(#FB83CB, #FE95AD) 0 0 0 30;
    /* Firefox 3.6 - 15 */
    border-image: linear-gradient(#FB83CB, #FE95AD) 0 0 0 30;
    /* 鏍囧噯鐨勮娉� */
}

.game-container .game-item.item-c {
    background-image: url('../img/icon-big-c.png');
    background-size: 81px 95px;
    background-repeat: no-repeat;
    background-position: right 10px top -14px;
    border-left: 5px solid;
    border-image: -webkit-linear-gradient(#F6C59A, #F9968B) 0 0 0 30;
    /* Safari 5.1 - 6.0 */
    border-image: -o-linear-gradient(#F6C59A, #F9968B) 0 0 0 30;
    /* Opera 11.1 - 12.0 */
    border-image: -moz-linear-gradient(#F6C59A, #F9968B) 0 0 0 30;
    /* Firefox 3.6 - 15 */
    border-image: linear-gradient(#F6C59A, #F9968B) 0 0 0 30;
    /* 鏍囧噯鐨勮娉� */
}

.game-container .game-item.item-d {
    background-image: url('../img/icon-big-d.png');
    background-size: 81px 95px;
    background-repeat: no-repeat;
    background-position: right 10px top -14px;
    border-left: 5px solid;
    border-image: -webkit-linear-gradient(#7A74FF, #D7B4FE) 0 0 0 30;
    /* Safari 5.1 - 6.0 */
    border-image: -o-linear-gradient(#7A74FF, #D7B4FE) 0 0 0 30;
    /* Opera 11.1 - 12.0 */
    border-image: -moz-linear-gradient(#7A74FF, #D7B4FE) 0 0 0 30;
    /* Firefox 3.6 - 15 */
    border-image: linear-gradient(#7A74FF, #D7B4FE) 0 0 0 30;
    /* 鏍囧噯鐨勮娉� */
}

.game-container .game-item.item-e {
    background-image: url('../img/icon-big-e.png');
    background-size: 70px 95px;
    background-repeat: no-repeat;
    background-position: right 10px top -14px;
    border-left: 5px solid #33AADF;
}

.game-container .game-item.item-f {
    background-image: url('../img/icon-big-f.png');
    background-size: 70px 95px;
    background-repeat: no-repeat;
    background-position: right 10px top -14px;
    border-left: 5px solid #D38023;
}

.detail-container {
    margin-top: 17px;
}

.detail-container .title {
    color: #4A4A4A;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
}

.detail-container .title:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 20px;
    background-image: url('../img/icon-g.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
    margin-right: 10px;
    margin-left: 12px;
}

.detail-container .table-scroll {
    width: 929px;
    overflow-x: scroll;
    border-radius: 5px;
}

.detail-container .detail-table {
    font-size: 14px;
    color: #363D48;
    width: 100%;
    background-color: #fff;
    text-align: left;
    position: relative;
    z-index: 5;
}

.detail-container .detail-table thead th {
    font-size: 16px;
    font-weight: 600;
    height: 113px;
    border-bottom: 1px solid #F3F6F8;
    padding-left: 30px;
}

.detail-container .detail-table tbody td {
    height: 87px;
    padding-left: 30px;
}

.detail-container .detail-table tbody td .row-rules {
    color: #4575E6;
    font-size: 12px;
    line-height: 14px;
}

.detail-container .detail-table tbody td .row-rules:before {
    content: '';
    width: 13px;
    height: 13px;
    background-image: url('../img/icon-row-rules.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.detail-container .detail-table tbody td .btn-complete {
    font-size: 12px;
    color: #FBFCFF;
    width: 127px;
    text-align: center;
    background-color: #172333;
    height: 33px;
    line-height: 33px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 13px;
    cursor: pointer;
}

.detail-container .detail-table tbody td:last-child {
    padding-right: 30px;
}

.detail-container .detail-table tbody td.red {
    color: #EA5454;
}
.detail-container .detail-table tr:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 87px;
    z-index: -1;
}
.detail-container .detail-table tr.highlight {
    color: #FFFFFF !important;
    position: relative;
}

.detail-container .detail-table tr.highlight:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 87px;
    z-index: -1;
    background: -webkit-linear-gradient(left, rgba(89, 89, 251, 0.6), rgba(45, 154, 253, 0.6)) !important;
    background: -o-linear-gradient(right, rgba(89, 89, 251, 0.6), rgba(45, 154, 253, 0.6)) !important;
    background: -moz-linear-gradient(right, rgba(89, 89, 251, 0.6), rgba(45, 154, 253, 0.6)) !important;
    background: linear-gradient(to right, rgba(89, 89, 251, 0.6), rgba(45, 154, 253, 0.6)) !important;
}

.detail-container .detail-table tbody tr.highlight td .row-rules {
    color: #fff;
}

.detail-container .detail-table tbody tr.highlight td.red {
    color: #fff;
}

.detail-container .detail-table tbody tr.highlight td .btn-complete {
    color: #000000;
    background-color: #fff;
}

.detail-container .detail-table tbody tr.highlight td .row-rules:before {
    content: '';
    width: 13px;
    height: 13px;
    background-image: url('../img/icon-x.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.detail-container .detail-table tbody tr:nth-child(even):not(.highlight) {
    background: #fff;
}

.detail-container .detail-table tbody tr:nth-child(odd):not(.highlight) {
    background: #F3F6F8;
}

.overlay-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal-mask {
    z-index: 99;
}

.modal {
    width: 550px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 45px 80px;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 100;
    display: none;
    transform: translateY(-50%);
}

.modal .modal-title {
    color: #172333;
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 34px;
}

.modal.modal-row {
    margin-bottom: 30px;
}

.modal .modal-row .modal-row-title {
    font-size: 14px;
    color: #A4ADB7;
    margin-bottom: 10px;
}

.modal .modal-row .modal-row-input {
    font-size: 14px;
    color: #525A71;
    height: 48px;
    background-color: #F8F9FC;
    width: 100%;
    border: 1px solid #ECEEF3;
    padding: 0 18px;
    box-sizing: border-box;
}

.modal.modal-rules {
    padding: 22px 80px 35px 80px;
    width: 636px;
}

.modal.modal-rules .modal-title {
    margin-bottom: 13px;
}

.modal.modal-rules .modal-row .modal-row-title {
    color: #363D48;
    margin-bottom: 16px;
}

.modal.modal-rules .modal-row .modal-row-content {
    border: 1px solid #ECEEF3;
    background-color: #F8F9FC;
    width: 100%;
    color: #363D48;
    font-size: 14px;
    line-height: 20px;
    overflow-y: scroll;
    max-height: 248px;
    box-sizing: border-box;
    padding: 18px;
}

.modal.modal-rules .modal-row .modal-row-content ul li {
	list-style: disc inside none;
}
.modal.modal-rules .modal-row  .icon.icon-link {
    background-image: url('../img/link.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 14px;
	height: 14px;
	display: inline-block;
}

.modal.modal-rules.modal-dis-rule .modal-row .modal-row-title {
    text-align: center;
}

.modal.modal-rules.modal-dis-rule .modal-row .modal-row-tb {
    font-size: 14px;
    color: #363D48;
    width: 100%;
}

.modal.modal-rules.modal-dis-rule .modal-row .modal-row-tb,
.modal.modal-rules.modal-dis-rule .modal-row .modal-row-tb tr th,
.modal.modal-rules.modal-dis-rule .modal-row .modal-row-tb tr td {
    border: 1px solid #979797;
}

.modal.modal-rules.modal-dis-rule .modal-row .modal-row-tb tr td {
    padding: 0 10px;
    min-height: 66px;
    height: 66px;
}

.modal .icon-close {
    background-image: url('../img/icon-close.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-left: 3px;
}

.modal.modal-rules .btn-submit {
    margin: 32px auto 0 auto;
}






/* modified by xsm5202  脭枚录脫脨拢脩茅麓铆脦贸脤谩脢戮脨脜脧垄,脫毛login 脰脴脫脙*/

.input-wrap {
    position: relative;
}

.input-wrap.icon-right:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 14px;
    background-image: url('../img/icon-right.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.input-wrap.icon-error .input {
    border: 1px solid #EA5454;
}

.input-wrap.icon-right:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 14px;
    background-image: url('../img/icon-right.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.input-wrap.icon-error .error-msg {
    color: #EA5454;
    margin-top: 9px;
    margin-left: 20px;
}

.modal .btn-submit {
    font-size: 16px;
    color: #FBFCFF;
    width: 146px;
    text-align: center;
    background-color: #172333;
    height: 47px;
    line-height: 47px;
    border-radius: 3px;
    margin: 45px auto 0 auto;
    display: block;
}

.modal .btn-submit .arrow-right {
    background-image: url('../img/jiantou.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 26px;
    height: 12px;
    display: inline-block;
    margin-left: 4px;
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
        padding-bottom: 0;
    }
    .navbar {
        width: 100%;
        height: 65px;
        min-width: auto;
    }
    .navbar .navbar-mobile-nav {
        display: inline-block;
        background-image: url('../img/icon-nav-m.png');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 22px;
        height: 16px;
        position: absolute;
        top: 25px;
        left: 20px;
    }
    .navbar .navbar-logo {
        width: 90px;
        height: 25px;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar .navbar-link {
        display: none;
    }
    .navbar .navbar-user {
        padding-right: 20px;
        height: 65px;
        line-height: 65px;
    }
    .navbar .navbar-user .name {
        display: none;
    }
    .navbar .navbar-user .logo {
        width: 27px;
        height: 27px;
        margin-left: 0;
    }
    .navbar .navbar-user .arrow-down {
        border: 7px solid transparent;
        border-top: 7px solid #172333;
        display: inline-block;
        border-radius: 2px;
        vertical-align: middle;
        margin-left: 10px;
        margin-top: 5px;
    }
    .navbar .navbar-user .user-float {
        top: 64px;
        right: 8px;
    }
    .left-sidebar {
        display: none;
    }
    .left-sidebar {
        position: fixed;
        z-index: 7;
        top: 64px;
        padding-top: 0;
    }
    .left-sidebar .navbar-link {
        margin: 25px 20px 20px 20px;
        height: auto;
        border-bottom: 1px solid #E9E9E9;
    }
    .left-sidebar .navbar-link .link-item {
        margin-top: 0;
        margin-right: 23px;
        margin-bottom: 22px;
    }
    .left-sidebar .navbar-link .link-item+.link-item {
        margin-left: 0;
    }
    .left-sidebar .navbar-link .link-item .icon {
        width: 25px;
        height: 25px;
    }
    .left-sidebar .navbar-link .link-item .icon.icon-facebook {
        width: 24px;
        height: 24px;
    }
    .sidebar-section ul {
        margin-top: 8px;
    }
    .content {
        padding: 90px 20px 36px 20px;
    }
    .point-container .point-item {
        width: 47%;
        height: 120px;
        padding: 35px 0 20px 13px;
        margin-bottom: 20px;
    }
    .point-container .point-item.bg1 {
        background-image: url('../img/icon-bg-1-mo.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .point-container .point-item.bg2 {
        background-image: url('../img/icon-bg-2-mo.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .point-container .point-item.bg3 {
        background-image: url('../img/icon-bg-3-mo.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .point-container .point-item.bg4 {
        background-image: url('../img/icon-bg-4-mo.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .point-container .point-item .point-txt1 {
        color: #FFFFFF;
        font-size: 32px;
        line-height: 45px;
    }
    .point-container .point-item.bg4 .point-txt1 {
        font-size: 16px;
        line-height: 22px;
        margin-top: 15px;
    }
    .point-container .point-item.bg4 .point-txt2 {
        font-size: 12px;
        height: 22px;
    }

    .point-container .point-item+.point-item {
        margin-left: 0;
    }
    .point-container .point-item:nth-child(2n) {
        margin-left: 6%;
    }
    .greeting-container {
        margin-top: 16px;
        width: 100%;
    }

    .greeting-container .greeting-tl {
        font-size: 16px;
        line-height: 22px;
        text-align: left;
    }

    .greeting-container .greeting-content {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        padding: 15px 70px 0 20px;
        height: 70px;
        box-sizing: border-box;
        position: relative;
    }
    .greeting-container .greeting-content .icon-arrow {
        width: 8px;
        height: 15px;
        position: absolute;
        top: 27px;
        right: 16px;
    }

    .greeting-container .count {
        margin-top: 16px;
        text-align: left;
        margin-bottom: 35px;
    }

    .greeting-container .box {
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
        margin-right: 15px;
    }

    .greeting-container .box.sel:after {
        font-size: 24px;
        right: -11px;
    }
    .game-container {
        margin-top: 36px;
    }
    .game-container .title:before {
        margin-left: 0;
    }
    .game-container .game-item {
        width: 100%;
        height: 129px;
        margin-bottom: 20px;
        margin-right: 0;
        padding-top: 14px;
    }
    .game-container .game-item .t2 {
        padding-bottom: 8px;
    }
    .game-container .game-item .t3 {
        margin-right: 50px;
        padding-top: 10px;
    }
    .detail-container {
        margin-top: 16px;
    }
    .detail-container .table-scroll {
        width: 100%;
    }
    .detail-container .detail-table {
        font-size: 12px;
        width: 100%;
        min-width: 1080px;
    }
    .detail-container .detail-table thead th {
        font-size: 14px;
        height: 52px;
    }
    .detail-container .detail-table tbody td {
        height: 44px;
    }
    .modal {
        width: auto;
        margin: 0 34px;
        padding: 30px;
    }
    .modal .modal-title {
        font-size: 20px;
        margin-bottom: 24px;
    }
    .modal .modal-row .modal-row-input {
        height: 42px;
    }
    .modal .btn-submit {
        margin: 32px auto 0 auto;
    }
    .modal.modal-rules {
        width: auto;
        margin: 0 34px;
        padding: 30px;
    }
    .modal.modal-rules .modal-title {
        margin-bottom: 24px;
    }
    .modal.modal-rules .modal-row .modal-row-title {
        margin-bottom: 10px;
    }
    .modal.modal-rules .modal-row .modal-row-content {
        font-size: 12px;
        line-height: 17px;
        max-height: 147px;
        padding: 10px;
    }
    .modal.modal-rules .btn-submit {
        margin: 24px auto 0 auto;
    }
    .modal.modal-rules.modal-dis-rule .modal-row .modal-row-title {
    font-size: 12px;
}
    .modal.modal-rules.modal-dis-rule .modal-row .modal-row-tb {
        font-size: 9px;
        transform-origin-x: 0;
        -ms-transform-origin-x: 0;
        -moz-transform-origin-x: 0;
        -webkit-transform-origin-x: 0;
        -o-transform-origin-x: 0;
        transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
    }
    .modal.modal-rules.modal-dis-rule .modal-row .modal-row-tb tr td {
        padding: 0 10px;
        min-height: 66px;
        height: 66px;
    }
}
@media screen and (max-height:959px) {
    .modal.modal-rules.modal-dis-rule .modal-row {
        overflow-y: scroll;
        height: 360px;
    }
}