
.container {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    align-items: center;
}

.left-container {
    height: 100%;
}

.left-container .pc-logo {
    height: 100%;
    display: block;
}

.left-container .mobile-logo {
    display: none;
}

.right-container {
    flex: 1 1;
}

.right-container .txt-1 {
    font-size: 40px;
    color: #172333;
    line-height: 56px;
    font-weight: 600;
}

.right-container .txt-2 {
    font-size: 36px;
    color: #172333;
    line-height: 50px;
    font-weight: 600;
}

.right-container .txt-3 {
    font-size: 17px;
    color: #A4ADB7;
    line-height: 25px;
    margin-top: 24px;
    margin-bottom: 50px;
}

.right-container .txt-3.mobile-show {
    display: none;
}

.right-container .txt-3 .btn-signup {
    font-size: 20px;
    color: #4575E6;
    line-height: 28px;
    margin-left: 20px;
}

.login-section {
    font-size: 14px;
    line-height: 20px;
    width: 390px;
    margin: 0 auto;
}

.login-section .wrap .title {
    color: #A4ADB7;
    margin-bottom: 8px;
}

.login-section .wrap .input-wrap {
    position: relative;
}

.login-section .wrap .input-wrap .input {
    color: #525A71;
    font-size: 14px;
    padding: 14px 20px;
    border: 1px solid #ECEEF3;
    background-color: #F8F9FC;
    width: 100%;
    box-sizing: border-box;
}

.login-section .wrap .input-wrap.icon-right:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 14px;
    background-image: url('../img/icon-right.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.login-section .wrap .input-wrap.icon-error .input {
    border: 1px solid #EA5454;
}

.login-section .wrap .input-wrap.icon-error:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 14px;
    background-image: url('../img/icon-error.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.login-section .wrap .input-wrap.icon-error .error-msg {
    color: #EA5454;
    margin-top: 9px;
    margin-left: 20px;
}

.login-section .wrap + .wrap {
    margin-top: 35px;
}

.login-section .forget-section {
    margin-top: 30px;
}

.login-section .forget-section .remember {
    color: #525A71;
    display: inline-block;
    position: relative;
    padding-left: 30px;
}

.login-section .forget-section .remember .icon-check {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background-image: url('../img/icon-grey.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.login-section .forget-section .remember .icon-check.needcheck {
    background-image: url('../img/icon-error.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.login-section .forget-section .remember .icon-check.checked {
    background-image: url('../img/icon-right.png');
    background-size: 100%;
    background-repeat: no-repeat;
}


.login-section .forget-section .remember .read-link {
    color: #4575E6;
}

.login-section .forget-section .forgot-pwd {
    color: #C3CED9;
    float: right;
}

.login-section .btn-submit {
    font-size: 16px;
    color: #FBFCFF;
    width: 146px;
    text-align: center;
    background-color: #172333;
    height: 47px;
    line-height: 47px;
    border-radius: 3px;
    margin-top: 45px;
    display:block;
}

.login-section .btn-submit .arrow-right {
    background-image: url('../img/jiantou.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 26px;
    height: 12px;
    display: inline-block;
    margin-left: 4px;
}

.overlay-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal-mask {
    z-index: 99;
}

.modal {
    width: 550px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 45px 80px;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 100;
    display: none;
    transform: translateY(-50%);
}

.modal .modal-desc {
    color: #172333;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
}

.modal .icon-success {
    background-image: url('../img/icon-success.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    margin: 0 auto 28px auto;
}

@media screen and (max-width:768px) {
    .container {
        display: block;
    }
    .left-container {
        width: 100%;
        height: 132px;
    }
    .left-container .mobile-logo {
        width: 100%;
        height: 132px;
        display: block;
    }
    .left-container .pc-logo {
        display: none;
    }
    .right-container {
        margin-left: 0;
        padding: 26px 25px;
        min-width: 0;
    }
    .right-container .txt-1 {
        font-size: 20px;
        line-height: 28px;
    }
    .right-container .txt-2 {
        font-size: 18px;
        line-height: 25px;
        margin-top: 6px;
        margin-bottom: 23px;
    }
    .right-container .txt-3 {
        display: none;
        font-size: 16px;
        line-height: 22px;
        margin-top: 12px;
    }
    .right-container .txt-3.mobile-show {
        display: block;
    }
    .right-container .txt-3 .btn-signup {
        font-size: 18px;
        line-height: 25px;
        margin-left: 15px;
    }
    .login-section {
        margin-top: 0;
        width: 100%;
    }
    .login-section .wrap .input-wrap .input {
        padding: 11px 20px;
    }
    .login-section .wrap .input-wrap.icon-error .error-msg {
        font-size: 12px;
    }
    .login-section .wrap + .wrap {
        margin-top: 14px;
    }
    .login-section .forget-section {
        margin-top: 19px;
    }
    .login-section .btn-submit {
        width: 100px;
        height: 33px;
        line-height: 33px;
        margin-top: 30px;
    }
    .login-section .btn-submit .arrow-right {
        display: none;
    }
    .login-section .forget-section .remember {
        font-size: 12px;
    }
    .modal {
        width: auto;
        margin: 0 34px;
        padding: 30px;
    }
    .modal .modal-desc {
        font-size: 18px;
    }
    .modal .icon-success {
        width: 50px;
        height: 50px;
        margin: 0 auto 20px auto;
    }
}
