 body {
     font-family: "PingFang SC", "Arial", "Microsoft YaHei", "SimHei", sans-serif;
     -webkit-overflow-scrolling: touch;
 }
 /*格式化样式*/
 
 body,
 div,
 dl,
 dt,
 dd,
 ul,
 ol,
 li,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 pre,
 form,
 fieldset,
 input,
 textarea,
 p,
 blockquote,
 th,
 td {
     margin: 0;
     padding: 0;
 }
 
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 
 fieldset,
 img {
     border: 0
 }
 
 address,
 caption,
 cite,
 code,
 dfn,
 em,
 strong,
 th,
 var {
     font-style: normal;
     font-weight: normal
 }
 
 ol,
 ul {
     list-style: none
 }

 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-size: 100%;
     font-weight: normal
 }
 
 q:before,
 q:after {
     content: ''
 }
 
 abbr,
 acronym {
     border: 0
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 input,
 button,
 select,
 textarea,
 span {
     font-weight: 300;
     font-family: "PingFang SC", "Arial", "Microsoft YaHei", "SimHei", sans-serif;
 }
 
 html {
     -webkit-text-size-adjust: none;
 }
 
 html,
 body {
     height: 100%;
     width: 100%;
 }
 
 a,
 a:hover {
     text-decoration: none;
 }
 
 .btn.focus,
 .btn:focus,
 .btn:hover {
     color: inherit;
 }
 
 input::-webkit-input-placeholder,
 input:-moz-placeholder,
 input::-moz-placeholder,
 input:-ms-input-placeholder,
 textarea::-webkit-input-placeholder,
 textarea:-moz-placeholder,
 textarea::-moz-placeholder,
 textarea:-ms-input-placeholder {
     /* WebKit browsers */
     font-size: 10px;
     font-family: "PingFang SC", "Arial", "Microsoft YaHei", "SimHei", "绠€浣�", sans-serif;
 }
 
 ul,
 ol {
     list-style: none;
     margin: 0;
     padding: 0
 }

 * {
     -webkit-tap-highlight-color: transparent;
 }

 .hide {
     display: none
 }
