<html>
	<head>
		<title>Hello Twitter</title>
	</head>
	<body>
		<div id="social">
			<input id="socialmsg" value="${bindmsg}" type="hidden"/>
			<form action="/connect/twitter" method="POST">
				<input type="submit" value="twitter"/>
			</form>
		
		</div>
		
		
		<script type="text/javascript"  src="js/jquery.min.js"></script>
		<script type="text/javascript">
			$( document ).ready(function() {
				var socialmsg = $("#socialmsg").val();
				if (socialmsg){
					alert(socialmsg);
				}
			});
			
		</script>
	</body>
</html>
