[#ftl]
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" href="img/favicon.ico">
    <title>LOTS</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/noty.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-mobile-nav js_showNav"></div>
            <div class="navbar-logo"></div>
            <div class="navbar-link">
                <ul>
                    <li class="link-item">
                    	<form action="/connect/facebook" method="POST">
                        	<button type="submit"  class="icon icon-facebook"></button>
                        </form>
                    </li>
                    <li class="link-item">
                    	<form action="/connect/twitter" method="POST">
                        	<button type="submit"  class="icon icon-twitter"></button>
                        </form>
                    </li>
                    <!-- 
                    <li class="link-item">
                        <a href="javascript:;" onclick="return TWidgetLogin.auth();" class="icon icon-tme"></a>
                    </li> -->
                    <li class="link-item">
                        <script async src="https://telegram.org/js/telegram-widget.js?4" data-telegram-login="lotsglobal_bot" data-auth-url="/tgauth" data-userpic="false"  data-request-access="write"></script>
                    </li>
                    <!-- 
                    <li class="link-item">
                        <form action="/connect/linkedin" method="POST">
                        	<button type="submit"  class="icon icon-ins"></button>
                        </form>
                    </li> -->
                    <li class="link-item">
                        <a href="javascript:;" class="icon icon-link"></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-user js_showUserFloat">
                <span class="name">${user.email}</span>
                <span class="arrow-down"></span>
                <div class="user-float js_userFloat">
                    <p class="icon-change js_showChangePwd">Change password</p>
                 <!--    <p class="icon-bind js_showBindWallet">Bind wallet</p> -->
                    <p class="icon-logout js_logout">Logout</p>
                </div>
            </div>
        </div>
        <!-- PC -->
        <div class="left-sidebar">
            <div class="sidebar-section active">
                <p class="tl">Phase 1</p>
                [#if taskTypeList?? ]
                	<ul>
                		[#list taskTypeList as taskType]
		                    <li class="sidebar-item item-${taskType.typeId?lower_case}">${taskType.typeId}.${taskType.shortname}</li>
                    	[/#list]
                	</ul>
                [/#if]
            </div>
            <div class="sidebar-section disabled">
                <p class="tl">Phase 2 (coming soon)</p>
            </div>
            <div class="sidebar-section disabled">
                <p class="tl">Phase 3 (coming soon)</p>
            </div>
        </div>
        <!-- mobile -->
        <div class="left-sidebar mobile js_mobile_nav js_modal">
            <div class="navbar-link">
                <ul>
                    <li class="link-item">
                    	<form action="/connect/facebook" method="POST">
                        	<button type="submit"  class="icon icon-facebook"></button>
                        </form>
                    </li>
                    <li class="link-item">
                    	<form action="/connect/twitter" method="POST">
                        	<button type="submit"  class="icon icon-twitter"></button>
                        </form>
                    </li>
                    <!-- 
                    <li class="link-item">
                        <a href="javascript:;" onclick="return TWidgetLogin.auth();" class="icon icon-tme"></a>
                    </li> -->
                    <li class="link-item">
                        <script async src="https://telegram.org/js/telegram-widget.js?4" data-telegram-login="lotsglobal_bot" data-auth-url="/tgauth" data-userpic="false"  data-request-access="write"></script>
                    </li>
                    <!-- 
                    <li class="link-item">
                        <form action="/connect/linkedin" method="POST">
                        	<button type="submit"  class="icon icon-ins"></button>
                        </form>
                    </li> -->
                    <li class="link-item">
                        <a href="javascript:;" class="icon icon-link"></a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-section active">
                <p class="tl">Phase 1</p>
                [#if taskTypeList?? ]
                	<ul>
                		[#list taskTypeList as taskType]
		                    <li class="sidebar-item item-${taskType.typeId?lower_case}">${taskType.typeId}.${taskType.shortname}</li>
                    	[/#list]
                	</ul>
                [/#if]
            </div>
            <div class="sidebar-section disabled">
                <p class="tl">Phase 2 (coming soon)</p>
            </div>
            <div class="sidebar-section disabled">
                <p class="tl">Phase 3 (coming soon)</p>
            </div>
        </div>
        <div class="content">
            <div class="point-container">
                <div class="point-item bg1">
                    <p class="point-txt1">${earned_point}</p>
                    <p class="point-txt2">Earned Point</p>
                </div>
                <div class="point-item bg2">
                    <p class="point-txt1">No. ${user.rank}</p>
                    <p class="point-txt2">Point Ranking</p>
                </div>
                <div class="point-item bg3">
                    <p class="point-txt1">${expected_reward}</p>
                    <p class="point-txt2">Expected Reward</p>
                </div>
                <div class="point-item bg4">
                	<!-- <p class="point-item-rule">Ranking Reward Distribution rule</p> -->
                    <p class="point-txt1">2,000,000 Lots</p>
                    <p class="point-txt2">Total Amout of Phase One</p>
                </div>
            </div>
            <div class="greeting-container">
                <p class="greeting-tl">Greetings from LOTS Team</p>
                <p class="greeting-content">We would like to thank everyone for your unwavering contribution to our network. We are excited to initiate the Bounty Program, where you can earn great rewards. Participation in our Bounty Program is easy, registration is simple, and you are simply a task away from earning big. Please click and see the <span class="greeting-rule-btn js_showDisRules">General Rules</span></p>
                <p class="greeting-tl">Bounty Program (Phase One) Count Down</p>
                <div class="count">
                    <span class="box js_days">00</span>
                    <span class="box sel js_hours">00</span>
                    <span class="box sel js_mins">00</span>
                    <span class="box js_secs" >00</span>
                </div>
            </div>
            <div class="game-container">
                <p class="title">Game classification</p>
                <div class="game-wrap">
                	[#if taskTypeList?? ]
	                	[#list taskTypeList as taskType]
			                    <div class="game-item item-${taskType.typeId?lower_case}">
			                        <p class="t1">PROGRAM ${taskType.typeId}</p>
			                        <p class="t2">${taskType.fullname}</p>
			                        <p class="t3">${taskType.earnedPoint}</p>
			                    </div>
	                    [/#list]
                    [/#if]
                </div>
            </div>
            <div class="detail-container">
                <p class="title">Point details</p>
                <div class="table-scroll">
                    <table class="detail-table credit_table">
                    	<colgroup width="0%"></colgroup>
                        <colgroup width="20%"></colgroup>
                        <colgroup width="12%"></colgroup>
                        <colgroup width="12%"></colgroup>
                        <colgroup width="12%"></colgroup>
                        <colgroup width="12%"></colgroup>
                        <colgroup width="32%"></colgroup>
                        <thead>
                            <tr>
                                <th>
                                    Task information
                                </th>
                                <th>
                                    Points
                                </th>
                                <th>
                                    Daily point limit
                                </th>
                                <th>
                                    Total point limit
                                </th>
                                <th>
                                    Earned point
                                </th>
                                <th>
                                    Instruction
                                </th>
                            </tr>
                        </thead>
                        <tbody>
							[#if taskList?? ]
								[#list taskList as task]
			                        <tr class="taskitem taskType-${task.typeId?lower_case}">
										<td><p>${task.name}</p><a class="row-rules js_showRules"  href="javascript:;"  data-id="${task.taskId}" data-name="${task.name}">Rules</a></td>
										<td>${task.eachPoint} [#if task.eachPoint1??]- ${task.eachPoint1}[/#if]</td>
										<td>${task.dailyPointLimit}</td>
										<td>${task.pointLimit}</td>
										<td>${task.earnedPoint}</td>
										<td>
										[#if task.ifClosed == 'Y']
											Task is closed.
										[#elseif  task.earnedPoint == task.pointLimit]
											Well done! You have finished this part.
										[#else]
											[#-- Bind Twitter --]
											[#if task.taskId == '1' ||  task.taskId == '7' || task.taskId == '8' || task.taskId == '11' || task.taskId == '15']
												${task.instruction}
											[#elseif task.taskId == '2']	
												[#if user.twitterAccount??]
													You have not followed our <a href="https://twitter.com/LotsOrg"  target="_blank"  style="color:#0E5ACE;">Twitter</a>, please follow up the rules. We will check it later.
												[#else]
													You have not associated your Twitter username with us yet, please click the icon of Twitter on the menubar to associate with it.
												[/#if]
											[#elseif task.taskId == '3']
												[#if user.twitterAccount??]
													[#if retweetId??]
														<span class="btn-complete js_showCmpleteTask" data-task="${task.taskId}">Submit Link</span>
														<p>Please submit the link by the same Twitter account. We will check it later.	</p>
													[#else]
														Well done! You have finished this part. 
													[/#if]
												[#else]
													You have not associated your Twitter username with us yet, please click the icon of Twitter on the menubar to associate with it.
												[/#if]
											[#elseif task.taskId == '5' || task.taskId == '6' || task.taskId == '12' || task.taskId == '13' || task.taskId == '14']
												<span class="btn-complete js_showCmpleteTask" data-task="${task.taskId}">Submit Link</span><p>Please submit Link(s) here. We will check and review it later.	</p>
											[#elseif task.taskId == '9']
												[#if user.telegramAccount??]
													Invite you friend to
													[#if groups?? ]
														[#list groups as group]
													 		<a href="${group.value}"  target="_blank"  style="color:#0E5ACE;">${group.desc}</a>
													 	[/#list]
													 [/#if]
													 . We will check and review it later.
												[#else]
													You have not associated your Telegram username with us yet, please click the icon of Telegram on the menubar to associate with it.
												[/#if]
											[#elseif task.taskId == '10']
												[#if user.telegramAccount??]
													${task.instruction}
												[#else]
													You have not associated your Telegram username with us yet, please click the icon of Telegram on the menubar to associate with it.
												[/#if]
											[#elseif task.taskId == '16']	
												[#if user.telegramAccount??]
													You have not followed our telegam group, please follow up the rules.
												[#else]
													You have not associated your Telegram username with us yet, please click the icon of Telegram on the menubar to associate with it.
												[/#if]
											[/#if]
										[/#if]
										</td>
									</tr>
								[/#list]
							[/#if]
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- modal 绑定钱包 -->
        <div class="modal js_modal_bindWallet">
          <form action="/addWallet">
            <p class="modal-title">Bind wallet</p>
            <div class="modal-row">
                <p class="modal-row-title">Wallet address</p>
                <div class="input-wrap">
                	<input class="modal-row-input required" type="text" name="wallet" value="${user.wallet}"/>
                </div>
            </div>
            <a href="#" class="btn-submit form-submit">Submit<span class="arrow-right"></span></a>
          </form>
        </div>
    <!-- modal 修改密码 -->
        <div class="modal js_modal_changePwd">
          <form action="/resetPassword">
            <p class="modal-title">Reset Password</p>
            <div class="modal-row">
                <p class="modal-row-title">Old password</p>
                <div class="input-wrap">
                	<input class="modal-row-input required" type="password" name="old_pwd"/>
                </div>
            </div>
            <div class="modal-row">
                <p class="modal-row-title">New password</p>
                <div class="input-wrap">
                	<input class="modal-row-input required password" type="password" name="new_pwd"/>
                </div>
            </div>
            <div class="modal-row">
                <p class="modal-row-title">Again password</p>
                <div class="input-wrap">
                	<input class="modal-row-input required password" type="password" name="new_pwd_again"/>
                </div>
            </div>
            <a href="#" class="btn-submit form-submit">Submit<span class="arrow-right"></span></a>
          </form>
        </div>
    <!-- modal complete task -->
        <div class="modal js_modal_completeTask">
        	<form action="/link">
	            <p class="modal-title">Submit you link.</p>
	            <div class="modal-row">
	                <p class="modal-row-title">Link</p>
	                <div class="input-wrap">
	                	<input class="modal-row-input required url" type="text" name="link"/>
	                </div>
	                <input type="hidden" name="taskId"/>
	            </div>
	            <a href="#" class="btn-submit  form-submit" >Submit<span class="arrow-right"></span></a>
            </form>
        </div>
        <div class="modal js_modal_link">
        	<div class="modal-row">
        		<p class="modal-row-title">Give the following invitation code to your friends：</p>        		
        	</div>
        	<p class="modal-row-title">https://candy.lots.org/register?inviteCode=${user.inviteCode}</p>
        </div>
        <div class="modal  modal-rules js_modal_rules">
            <p class="modal-title">Rules</p>
            <div class="modal-row">
                <p class="modal-row-title">&nbsp;</p>
                <div class="modal-row-content">&nbsp;</div>
            </div>
            <div class="btn-submit ">Close<span class="icon-close"></span></div>
        </div>
    	<div class="modal  modal-rules modal-dis-rule js_modal_dis_rules">
	        <p class="modal-title">General Rules</p>
	        <div class="modal-row">
	            <p class="modal-row-title">· Please be aware your Twitter, Facebook and Telegram account need firstly to be associated with bounty program before you start earning points (You can find the links on the menu bar)
	</p>
	            <p class="modal-row-title">· On top of the page is an URL for you to use, the URL will be used to invite people and to earn points.</p>
	            <p class="modal-row-title">· You can earn points by completing programs during the three phases of bounty program. You will get LOTS tokens within three (3) weeks following the conclusion of the third phase of this program, be transferred to the Ether address that you have provided.</p>
	            <p class="modal-row-title">· Every qualified participant would receive rewards in forms of LOTS tokens at the end of each phase of bounty program. In the first phase, the total prize pool is 2,000,000 LOTS tokens. Top 100 winners would receive rewards approximately 70% of the total prize pool. Below is the chart of rewards distributed to Top 100 winners. </p>
	            <table class="modal-row-tb">
	                <tr>
	                    <td>
	                        Rank
	                    </td>
	                    <td>
	                        Identity
	                    </td>
	                    <td>
	                        Rewards
	                    </td>
	                </tr>
	                <tr>
	                    <td>
	                        1st
	                    </td>
	                    <td>
	                        Royal Ambassador
	                    </td>
	                    <td>
	                        100,000 LOTS Tokens
	                    </td>
	                </tr>
	                <tr>
	                    <td>
	                        2nd-4th
	                    </td>
	                    <td>
	                        Ambassador
	                    </td>
	                    <td>
	                        70,000 LOTS Tokens
	                    </td>
	                </tr>
	                <tr>
	                    <td>
	                        5th-10th
	                    </td>
	                    <td>
	                        Spire Master
	                    </td>
	                    <td>
	                        50,000 LOTS Tokens
	                    </td>
	                </tr>
	                <tr>
	                    <td>
	                        11th-20th
	                    </td>
	                    <td>
	                        Master
	                    </td>
	                    <td>
	                        25,000 LOTS Tokens
	                    </td>
	                </tr>
	                <tr>
	                    <td>
	                        21th-40th
	                    </td>
	                    <td>
	                        Professional
	                    </td>
	                    <td>
	                        10,000 LOTS Tokens
	                    </td>
	                </tr>
	                <tr>
	                    <td>
	                        41th -100th
	                    </td>
	                    <td>
	                        Amateur
	                    </td>
	                    <td>
	                        5,000 LOTS Tokens
	                    </td>
	                </tr>
	            </table>
	            <p class="modal-row-title">Other qualified participants would share the remaining rewards from the total prize pool by points.</p>
	            <p class="modal-row-title cl-1">*Qualified participants in the first phase of the bounty program are those who earn no less than 1,000 points.</p>
	            <p class="modal-row-title">· All rights reserved to LOTS. Should you have any questions, please contact support@lots.org.</p>
	            <p class="modal-row-title">· We reserve all the right for the final explanation of this bounty program, if any cheating behavior is found, the account will be cancelled and the reward will be zero.</p>
	        <div class="btn-submit ">Close<span class="icon-close"></span></div>
	        </div>
	    </div>
    	<div class="overlay-mask js_mask"></div>
    	<div class="overlay-mask modal-mask js_modal_mask"></div>
	    <div id="js_hidden_rule" style="display:none;">
	    	<div class="task-1">Please associate your Twitter username with your bounty membership to earn 50 points.</div>
	    	<div class="task-2">
	    		<ul>
	    			<li>Please associate your Twitter username with your bounty membership.</li>
	    			<li>Follow LOTS’s official Twitter(<a href="https://twitter.com/LotsOrg" style="color:#0E5ACE;">@LotsOrg</a>).</li>
	    			<li>Followers will receive 150 points.</li>
	    		</ul>
	    	</div>
	    	<div class="task-3">
	    		<ul>
	    			<li>We will raise a trendy topic (like #LOTS Bounty Program) in our official twitter account.</li> 
		    		<li>To participate, you only need to publish an original tweet and include @LotsOrg.</li> 
		    		<li>What you can tweet includes but isn’t limited to one sentence, a short paragraph, a selfie, or a video related to our topic.</li> 
		    		<li>We will identify you as‘super celebrity’ or ‘supporter’.</li> 
		    		<li>For super celebrity, requirements are 100 retweets, 100 replies, and 100 likes. If you satisfy 2 of 3 requirements, you will be rewarded with 1000 points.（Maximum 5000 points)</li> 
		    		<li>For supporter, requirements are 5 retweets, 5 replies and 10 likes. If you satisfy 2 of 3 requirements, you will be rewarded with 200 points.(Maximum 2000 points)</li> 
	    		</ul>
	    	</div>
	    	<div class="task-4"></div>
	    	<div class="task-5">
	    		<ul>
					<li>We will raise Content Creation Bounty Project.</li>
					<li>Please create, publish and manage content related to the topic released in self-media channel accordingly (including but not limited to Twitter, Medium, Steemit, BitcoinTalk, Facebook or Weibo etc.) </li>
					<li>We will allocate points based on the content’s quality, page views, comments and influence, to name just a few.</li>
					<li>You will be rewarded with 1000 points per content (maximum 5000 points)</li>
	    		</ul>
	    	</div>
	    	<div class="task-6">
	    		<ul>
	    			<li>We will raise Video Creation Bounty Project.</li>
					<li>Please create, post and manage video related to the topic on your Youtube channel.</li>
					<li>Video description must contain link to www.lots.org</li>
					<li>Your channel must be at least 3 months old.</li>
					<li>Video must be at least 1:00 minute long.</li>
					<li>We will allocate points based on the video’s quality, page views, comments and influence, to name just a few.</li>
					<li>You will be rewarded with 1000 points per video (maximum 5000 points)</li>
					<li>Videos that do not contain human voiceover will only receive 50% of the points.</li>
	    		</ul>
	    	</div>
	    	<div class="task-7">Please associate your Facebook username with your bounty membership to earn 50 points.</div>
	    	<div class="task-8">Please associate your Telegram username with your bounty membership to earn 50 points.</div>
	    	<div class="task-9">Please invite you friends to Telegram group. We will annouce different types of events and news in our telegram group.</div>
	    	<div class="task-10">
	    		<ul>
	    			<li>We'll organize two quizzes every day in our English and Chinese Telegram group at the beginning of this project. </li>
					<li>Admin publishes a series of questions which members can answer.</li>
					<li>The time limit for answering is 2 minutes. The first 20 members who answer correctly will receive 100 points.</li>
					<li>Maximum 1,000 points for each member in total.</li>
	    		</ul>
	    	</div>
	    	<div class="task-11">Please submit bug report to support@lots.org.Please infer you username , register email.  </div>
	    	<div class="task-12">
	    		<ul>
	    			<li>We will initiate a hashtag called #LOTSMEME on our official Twitter.</li>
					<li>You can create JPEGs or GIFs that can be used for Twitter, Telegram and forums. </li>
					<li>You should tweet your creative works to @LotsOrg and join #LOTSMEME. </li>
					<li>We will allocate points based on your creations’ quality, views, comments and influence, to name just a few.</li>
					<li>You will be rewarded with 600 points (maximum 1800 points)</li>
	    		</ul>
	    	</div>
	    	<div class="task-13">
	    		<ul>
	    			<li>We will initiate a hashtag called #LOTSART on our official Twitter.</li>
					<li>Please download our logo image and then apply various filter effects and decorations to make it unique. </li>
					<li>You could post your creative work on your twitter or instagram. Direct message the work to @LotsOrg and use #LOTSART hashtag. </li>
					<li>We will review and allocate points based on your creations’ quality, views, comments and influence, to name just a few.</li>
					<li>You will be rewarded with 600 points (maximum 1800 points)</li>
	    		</ul>
			</div>
	    	<div class="task-14">Pls upload a Chinese name for Lots over here.</div>
	    	<div class="task-15">
	    		<ul>
	    			<li>Please click the <a class="icon icon-link"  href="javascript:;">&nbsp;</a> icon on the menubar and get an URL to invite friends.</li>
					<li>You will earn points from your direct invite and indirect invite based on the number of invited participants, and socpe of influence. (Indirect invitation refers to the invitation of the participants from your invitation).</li>
					<li>You will be rewarded with up to 1000 points.</li>
	    			
	    		</ul>
	    	</div>
	    	<div class="task-16">
	    		<ul>
	    			<li>Please associate your Telegram username with your bounty membership.</li>
					<li>Join LOTS’s official Telegram group (<a href="https://t.me/lotsorg"  style="color:#0E5ACE;">@Lotsorg</a>) or LOTS’s official Telegram Chinese group(<a href="https://t.me/LOTS_cn"  style="color:#0E5ACE;">@LOTS_cn</a>).</li>
					<li>Followers will received 150 points.</li>
	    		</ul>
	    	</div>
		</div>
		
    
</body>
<script src="js/sea.js"></script>
<script src="js/seaconfig.js"></script>

<!-- 
<script src="js/widget-frame.js?17"></script>
<script type="text/javascript">
TWidgetLogin.init('widget_login', 573152760, {"origin":"https:\/\/candy.lots.org","request_access":"write"}, false); 
</script>-->
<script type="text/javascript">
	seajs.use(['jquery', 'index'], function($, main){
		$(document).ready(function() {
			main.init();
		  });
	});
</script>

</html>
