<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" href="img/favicon.ico">
    <title>LOTS</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/noty.css">
</head>

<body>
    <div class="container">
        <div class="left-container">
            <img class="pc-logo" src="img/login-banner.png">
            <img class="mobile-logo" src="img/mobile-banner.png">
        </div>
        <div class="right-container">
        <div class="login-section">
            <h1 class="txt-1">Hello！</h1>
            <h1 class="txt-2">reset Password</h1>
            <div class="txt-3"></div>
            <form action="/resetPwd">
                <div class="wrap">
                    <p class="title">New password</p>
                    <!-- 加上icon-right显示绿色正确icon -->
                    <div class="input-wrap">
                        <input class="input required password" type="password" name="password" value="" maxlength="50" />
                    </div>
                </div>
                <div class="wrap">
                    <p class="title">Again password</p>
                    <!-- 加上icon-right显示绿色正确icon -->
                    	<div class="input-wrap">
                        	<input class="input required password" type="password" name="pwdAgain" value="" maxlength="50" />
                    	</div>
                </div>
                <input type="hidden" name="userId" value="${userId}" />
                <a href="#" class="btn-submit form-submit" >Submit<span class="arrow-right"></span></a>
            </form>
            </div>
        </div>
    </div>

</body>

<script src="js/sea.js"></script>
<script src="js/seaconfig.js"></script>
<script type="text/javascript">
	seajs.use(['jquery', 'resetPwd'], function($, main){
		$(document).ready(function() {
			main.init();
		  });
	});
</script>
</html>