[#ftl]
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" href="/img/favicon.ico">
    <title>LOTS</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/rule.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-logo"></div>
        </div>

        <div class="content">
            <h3>
            	[#if flag== true]
            		Well done! You will be redirected to the home page of bounty program in a few seconds.
            	[#else]
            		You failed to bind ${providerId}.
            	[/#if]
            	Click <a href="/"  style="color:#0E5ACE;">here</a> if you are not directed within 5 seconds.. 
            </h3>
        </div>
    </div>
    <script type="text/javascript">
		window.setTimeout(function(){
			window.location = "/";
		}, 5000);
		</script>
</body>
</html>
